<template>
  <header class="header">
    <div class="text-center w-100">
      <h1>{{ route.name }}</h1>
    </div>
  </header>
</template>
<script setup lang="ts">
import { useRoute } from "vue-router";
const route = useRoute();
</script>
<style scoped>
.header {
  height: 50px;
  display: flex;
}
</style>
