<template>
  <div class="row">
    <div class="col-12">
      <Breadcrumb :breadcrumbs="breadcrumbs" />
    </div>
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <img
          v-lazy="{
            src: blog?.image?.url,
            loading: 'loading',
            error: 'error',
          }"
          alt="placeholder"
          class="me-2 blog-detail-img"
        />
      </div>
    </div>
    <h1 class="my-3">{{ blog?.title }}</h1>
    <p>Create at: {{ blog?.created_at }}</p>
    <p>{{ blog?.content }}</p>
  </div>
</template>

<script setup lang="ts">
import { useRoute } from "vue-router";
import { Blogs } from "@/api/Blogs";
import { onMounted, ref } from "vue";
import type { Blog } from "@/interface/Blogs";
import Breadcrumb from "@/components/Breadcrumb.vue";
const route = useRoute();
const blog = ref<Blog>();
const breadcrumbs = [
  {
    text: "List Blogs",
    disabled: false,
    href: "/",
  },
  {
    text: "Blog detail",
    disabled: true,
    href: "",
  },
];
onMounted(() => {
  callApiBlogsDetail();
});

const callApiBlogsDetail = () => {
  Blogs.getBlogDetail(Number(route.params.id)).then((res) => {
    if (res.status === 200) {
      blog.value = res.data.data;
    }
  });
};
</script>
<style scoped>
.blog-detail-img {
  width: 80%;
}
</style>
