<template>
  <div class="row mb-3">
    <div class="col-12 box-border">
      <form class="row py-2">
        <div class="col-4">
          <label>Search title or content</label>
          <input
            type="text"
            v-model="formSearch.search"
            aria-label="First name"
            class="form-control"
          />
        </div>
        <div class="col-4">
          <label>Sort by</label>
          <select v-model="formSearch.sort_by" class="form-select">
            <option value="">Select</option>
            <option
              v-for="(item, id) in listSortBy"
              :key="id"
              :value="item.value"
            >
              {{ item.title }}
            </option>
          </select>
        </div>
        <div class="col-4">
          <label>Sort direction</label>
          <select v-model="formSearch.sort_direction" class="form-select">
            <option value="">Select</option>
            <option
              v-for="(item, id) in listSortDerection"
              :key="id"
              :value="item.value"
            >
              {{ item.title }}
            </option>
          </select>
        </div>
        <div
          class="col-12 mt-2 d-flex align-items-center justify-content-center"
        >
          <button type="button" @click="search" class="btn btn-primary">
            Search
          </button>
          <button
            type="button"
            @click="isModalCreate = true"
            class="btn btn-primary ms-3"
          >
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row list-blogs box-border">
    <div class="col-12">
      <ul class="list-unstyled">
        <li class="media d-flex my-4" v-for="blog in listBlogs" :key="blog.id">
          <div class="media-aside align-self-start">
            <img
              v-lazy="{
                src: blog.image.url,
                loading: 'loading',
                error: 'error',
              }"
              alt="placeholder"
              width="64"
              height="64"
              class="me-2"
            />
          </div>
          <div class="media-body content">
            <h5 class="mt-0 mb-1">{{ blog.title }}</h5>
            <p class="mb-0">
              {{ blog.content }}
            </p>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <button
              type="button"
              @click="showModalEdit(blog)"
              class="btn btn-warning me-2"
            >
              Edit
            </button>
            <button
              type="button"
              @click="showModalDelete(blog)"
              class="btn btn-danger"
            >
              Delete
            </button>
            <button
              type="button"
              @click="goDetail(blog.id)"
              class="btn btn-warning ms-2"
            >
              Detail
            </button>
          </div>
        </li>
      </ul>
      <div v-if="listBlogs.length < 1" class="text-center">
        <p>Data not found</p>
      </div>
    </div>
  </div>
  <Pagination :pagination="pagination" />
  <Spinner :is-show="isShowSpinner" />
  <CreateBlog
    :dialog="isModalCreate"
    @closeModalCreate="isModalCreate = false"
    @handlerSpinner="handlerSpinner"
  />
  <EditBlog
    :dialog="isModalEdit"
    :blog="blogEdit"
    @closeModalEdit="closeModalEdit"
    @handlerSpinner="handlerSpinner"
  />
  <DeleteBlog
    :dialog="isModalDelete"
    :id="blogEdit?.id"
    @closeModalDelete="closeModalDelete"
    @handlerSpinner="handlerSpinner"
  />
</template>
<script setup lang="ts">
import { onMounted, ref, watch } from "vue";
import { useRouter, useRoute } from "vue-router";
import Pagination from "../components/Pagination.vue";
import { Blogs } from "@/api/Blogs";
import type { Blog, PaginationInfor, ParamSearchBlog } from "@/interface/Blogs";
import CreateBlog from "@/components/modal/blogs/CreateBlog.vue";
import EditBlog from "@/components/modal/blogs/EditBlog.vue";
import DeleteBlog from "@/components/modal/blogs/DeleteBlog.vue";
import Spinner from "@/components/Spinner.vue";
import { useBlogsStore } from "@/stores/blogs";
import { cleanKeyEmpty } from "@/utils/params";
import { SORT_BY, SORT_DIRECTION } from "@/utils/wordDefinitions";
const router = useRouter();
const route = useRoute();
const listBlogs = ref<Blog[]>([]);
const pagination = ref<PaginationInfor>();
const paramSearch = ref({
  page: Number(route.query.page) || 1,
  search: route?.query?.search,
  sort_by: route?.query?.sort_by,
  sort_direction: route?.query?.sort_direction,
});
const listSortBy = ref(SORT_BY);
const listSortDerection = ref(SORT_DIRECTION);

const blogsStore = useBlogsStore();
const isModalCreate = ref(false);
const isModalEdit = ref(false);
const isModalDelete = ref(false);
const isShowSpinner = ref(false);
const blogEdit = ref<Blog>();
const formSearch = ref({
  search: "",
  sort_by: "",
  sort_direction: "",
});
router.push({ path: "/", query: paramSearch.value });

onMounted(() => {
  callApiListBlogs();
});

watch(
  () => route.query,
  (newValues) => {
    paramSearch.value.page = Number(newValues.page);
    paramSearch.value.search = newValues.search;
    callApiListBlogs();
  }
);

const callApiListBlogs = () => {
  handlerSpinner();
  Blogs.getListBlogs(paramSearch.value).then(
    (res: {
      data: {
        data: {
          items: Blog[];
        };
        pagination: PaginationInfor | undefined;
      };
    }) => {
      listBlogs.value = res?.data?.data?.items;
      pagination.value = res?.data?.pagination;
      handlerSpinner();
    }
  );
};

const showModalEdit = (item: Blog) => {
  blogsStore.blog = item;
  blogEdit.value = item;
  isModalEdit.value = true;
};

const showModalDelete = (item: Blog) => {
  blogsStore.blog = item;
  blogEdit.value = item;
  isModalDelete.value = true;
};

const closeModalEdit = (blog: Blog | "") => {
  isModalEdit.value = false;
  if (!blog) {
    return false;
  }
  const index = listBlogs.value?.findIndex((item: Blog) => item.id === blog.id);
  listBlogs.value[index] = blog;
};

const closeModalDelete = (id: number) => {
  isModalDelete.value = false;
  if (!id) {
    return false;
  }
  listBlogs.value?.splice(
    listBlogs.value?.findIndex((item: Blog) => item.id === id),
    1
  );
};

const handlerSpinner = () => {
  isShowSpinner.value = !isShowSpinner.value;
};

const search = () => {
  paramSearch.value.search = formSearch.value.search;
  paramSearch.value.sort_by = formSearch.value.sort_by;
  paramSearch.value.sort_direction = formSearch.value.sort_direction;  
  paramSearch.value = cleanKeyEmpty(paramSearch.value);
  router.push({ path: "/", query: paramSearch.value });
};

const goDetail = (id: number) => {
  router.push({ path: `/blog/detail/${id}` });
};
</script>

<style scoped>
.list-blogs {
  height: calc(100% - 195px);
  overflow-y: scroll;
}
.list-blogs .content {
  width: calc(100% - 270px);
}
.box-border {
  border: solid 1px #dee2e6;
  border-radius: 10px;
}
</style>
