<template>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li
        v-for="breadcrumb in breadcrumbs"
        :key="breadcrumb.text"
        class="breadcrumb-item"
      >
        <router-link
          :to="breadcrumb.href!"
          :class="{ active: breadcrumb.disabled }"
          >{{ breadcrumb.text }}</router-link
        >
      </li>
    </ol>
  </nav>
</template>

<script setup lang="ts">
import type { Breadcrumb } from "@/interface/Blogs";

const props = defineProps<{
  breadcrumbs: Breadcrumb[] | undefined;
}>();
</script>

<style scoped>
.breadcrumb .active {
  color: #6c757d;
  cursor: context-menu;
}
</style>
