<template>
  <div class="row mt-2">
    <div class="col-12">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" :class="{ disabled: !pagination?.prev }">
            <button
              type="button"
              @click="handlerPage(pagination?.prev)"
              class="page-link"
              href="#"
            >
              Previous
            </button>
          </li>
          <li v-if="pagination?.prev" class="page-item">
            <button
              type="button"
              @click="handlerPage(pagination?.prev)"
              class="page-link"
            >
              {{ pagination?.prev }}
            </button>
          </li>
          <li class="page-item active">
            <button type="button" class="page-link">
              {{ pagination?.page }}
            </button>
          </li>
          <li v-if="pagination?.next" class="page-item">
            <button
              type="button"
              @click="handlerPage(pagination?.next)"
              class="page-link"
              href="#"
            >
              {{ pagination?.next }}
            </button>
          </li>
          <li class="page-item" :class="{ disabled: !pagination?.next }">
            <button
              type="button"
              @click="handlerPage(pagination?.next)"
              class="page-link"
              href="#"
            >
              Next
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>
<script setup lang="ts">
import type { PaginationInfor } from "@/interface/Blogs";
import { useRouter, useRoute } from "vue-router";

const props = defineProps<{
  pagination: PaginationInfor | undefined;
}>();
const router = useRouter();
const route = useRoute();

const handlerPage = (pageNumber: number | undefined | null) => {
  if (!pageNumber) {
    return false;
  }
  const paramsSearch = {
    page: pageNumber,
    search: route.query.search,
  };
  router.push({ path: "/", query: paramsSearch });
};
</script>
