<template>
  <div class="box-loadding" v-if="isShow">
    <div class="spinner">
      <atom-spinner :animation-duration="1000" :size="60" color="#ff1d5e" />
    </div>
  </div>
</template>
<script setup lang="ts">
import { AtomSpinner } from "epic-spinners";
import { ref } from "vue";

const props = withDefaults(
  defineProps<{
    isShow: boolean;
  }>(),
  {
    isShow: false,
  }
);
// const emit = defineEmits<{
//   (e: "closeModalCreate"): void;
// }>();
// const isShow = ref(false)
</script>

<style scoped>
.box-loadding {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.6;
  z-index: 1000;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}
</style>
