<template>
  <div>
    <!-- Modal -->
    <div
      v-if="showDialog"
      class="modal fade show"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-modal="true"
      role="dialog"
      style="display: block"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1>Create Blog</h1>
            <button
              type="button"
              @click="closeModal()"
              class="btn-close"
            ></button>
          </div>
          <div class="modal-body">
            <Form
              @submit="onSubmit"
              :validation-schema="schema"
              v-slot="{ errors }"
            >
              <div class="mb-3">
                <label class="form-label">Title</label>
                <Field
                  name="title"
                  type="text"
                  aria-label="First name"
                  class="form-control"
                />
                <div class="invalid-input">{{ errors.title }}</div>
              </div>
              <div class="mb-3">
                <label class="form-label">Content</label>
                <Field
                  name="content"
                  type="text"
                  aria-label="First name"
                  class="form-control"
                />
                <div class="invalid-input">{{ errors.content }}</div>
              </div>
              <div class="mb-3">
                <label class="form-label">image</label>
                <Field
                  name="image"
                  type="file"
                  accept="image/*"
                  aria-label="First name"
                  class="form-control"
                />
                <div class="invalid-input">{{ errors.image }}</div>
              </div>
              <div class="form-group d-flex justify-content-center">
                <button class="btn btn-primary mr-1">Register</button>
                <button
                  type="button"
                  @click="closeModal()"
                  class="btn btn-danger ms-5"
                >
                  Close
                </button>
              </div>
            </Form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from "vue";
import { Form, Field } from "vee-validate";
import * as Yup from "yup";
import { constants } from "buffer";
import { Blogs } from "@/api/Blogs";
import { useNotification } from "@kyvg/vue3-notification";

const props = withDefaults(
  defineProps<{
    dialog: boolean;
  }>(),
  {
    dialog: false,
  }
);
const emit = defineEmits<{
  (e: "closeModalCreate"): void;
  (e: "handlerSpinner"): void;
}>();
const { notify } = useNotification();
const showDialog = ref(props.dialog);
const schema = Yup.object().shape({
  title: Yup.string().required("Title is required"),
  content: Yup.string().required("Content is required"),
  image: Yup.string(),
});

watch(
  () => props.dialog,
  (newValue: boolean) => {
    showDialog.value = newValue;
  }
);

const closeModal = () => {
  showDialog.value = false;
  emit("closeModalCreate");
};

const onSubmit = (values: any) => {
  // display form values on success
  emit("handlerSpinner");
  Blogs.createBlog(values).then((res) => {
    if (res?.status === 201) {
      closeModal();
      notify({
        text: "Successfully created a blog!",
        type: "success",
      });
    } else {
      notify({
        text: "Blog creation failed",
        type: "error",
      });
    }
    emit("handlerSpinner");
  });
};
</script>
