<template>
  <div>
    <div
      v-if="showDialog"
      class="modal fade show"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-modal="true"
      role="dialog"
      style="display: block"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              @click="closeModal()"
              class="btn-close"
            ></button>
          </div>
          <div class="modal-body">
            <h3>Do you want to delete this blog?</h3>
          </div>
          <div class="modal-footer">
            <button type="button" @click="onDelete()" class="btn btn-primary">
              Yes
            </button>
            <button type="button" @click="closeModal()" class="btn btn-danger">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from "vue";
import { Blogs } from "@/api/Blogs";
import { useNotification } from "@kyvg/vue3-notification";

const props = withDefaults(
  defineProps<{
    dialog: boolean;
    id: number | undefined;
  }>(),
  {
    dialog: false,
  }
);
const emit = defineEmits<{
  (e: "closeModalDelete", id: number): void;
  (e: "handlerSpinner"): void;
}>();
const { notify } = useNotification();
const showDialog = ref(props.dialog);

watch(
  () => props.dialog,
  (newValue: boolean) => {
    showDialog.value = newValue;
  }
);

const closeModal = () => {
  showDialog.value = false;
  emit("closeModalDelete", 0);
};

const onDelete = () => {
  emit("handlerSpinner");
  Blogs.deleteBlog(props.id!).then((res) => {
    if (res.status) {
      showDialog.value = false;
      emit("closeModalDelete", props.id!);
      notify({
        text: "Successfully deleted a blog!",
        type: "success",
      });
    }
    emit("handlerSpinner");
  });
};
</script>
