<template>
  <div class="container-fluid">
    <Header />
    <div class="main container">
      <RouterView />
    </div>
  </div>
</template>
<script setup lang="ts">
import Header from "@/components/layouts/Header.vue";
</script>
